<!-- <script src="{{ "dist/app.bundle.js" | absURL }}" async></script> -->
<script src="{{ "js/app.bundle.js" | absURL }}"></script>

<!-- <script>
  const domEl = document.getElementById('cathedral-container');
  if (domEl) {
    const img = document.createElement('img');
    const src = 'images/cathedral-progressive.jpg';
    const transition = 'background-image .3s linear';
    const origTransition = domEl.style.transition;
    img.addEventListener('load', function () {
      window.requestAnimationFrame(function () {
        domEl.style.transition = origTransition? `${origTransition}, ${transition}`: transition;
        domEl.style.backgroundImage = `url("${src}")`;
        img.remove();
      });
    });
    img.src = src;
  }
</script> -->

<script>
  const trigger = document.getElementById('video-overlay-trigger');

  trigger.addEventListener('click', () => {
    // const popDialog = function () {
      let dialogEl = document.createElement('paper-dialog');
      dialogEl.withBackdrop = true;
      dialogEl.innerHTML = '<iframe width="560" height="315" src="https://www.youtube.com/embed/_srJ7eHS3IM" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>';
      document.body.appendChild(dialogEl);
      dialogEl.open();
    // };

    // let dialogImport = document.createElement('link');
    // dialogImport.rel = 'import';
    // dialogImport.href = '{{ "polymer-elements/dist/static/polymer-elements/video-overlay.html" | absURL }}';
    // dialogImport.addEventListener('load', popDialog)
    // document.body.appendChild(dialogImport);  
  });
</script>

<script>
  /*
  Manual work
  */ 
  // if ('serviceWorker' in navigator) {
  //   window.addEventListener('load', function() {
  //     // It's fine to call .register every time on every page — browser will sort out
  //     navigator.serviceWorker.register("{{ "sw.js" | absURL }}")
  //     .then(
  //       function(registration) {
  //         // Registration was successful
  //         console.log('ServiceWorker registration successful with scope: ', registration.scope);
  //       }, function(err) {
  //         // registration failed :(
  //         console.log('ServiceWorker registration failed: ', err);
  //       }
  //     );
  //   });
  // }

  /*
  PWA Builder
  */ 
  //This is the service worker with the Cache-first network
  //Add this below content to your HTML page, or add the js file to your page at the very top to register sercie worker
  // if (navigator.serviceWorker.controller) {
  //   console.log('[PWA Builder] active service worker found, no need to register')
  // } else {
  //   //Register the ServiceWorker
  //   navigator.serviceWorker.register('pwabuilder-sw.js', {
  //     scope: '/'
  //   }).then(function(reg) {
  //     console.log('Service worker has been registered for scope:'+ reg.scope);
  //   });
  // }

  /*
  Workbox
  */ 
  // if ('serviceWorker' in navigator) {
  //   window.addEventListener('load', function() {
  //     // It's fine to call .register every time on every page — browser will sort out
  //     navigator.serviceWorker.register("{{ "workbox-sw.js" | absURL }}")
  //     .then(
  //       function(registration) {
  //         // Registration was successful
  //         console.log('ServiceWorker registration successful with scope: ', registration.scope);
  //       }, function(err) {
  //         // registration failed :(
  //         console.log('ServiceWorker registration failed: ', err);
  //       }
  //     );
  //   });
  // }

</script>

<script>
  performance.mark("scripts done blocking");
</script>
