<!-- <script src="{{ "dist/app.bundle.js" | absURL }}" async></script> -->
<script src="{{ "js/app.bundle.js" | absURL }}"></script>

<!-- 1.  -->
<script>
  if ('serviceWorker' in navigator) {
    window.addEventListener('load', function() {
      // It's fine to call .register every time on every page — browser will sort out
      navigator.serviceWorker.register("{{ "sw.js" | absURL }}")
      .then(
        function(registration) {
          // Registration was successful
          console.log('ServiceWorker registration successful with scope: ', registration.scope);
        }, function(err) {
          // registration failed :(
          console.log('ServiceWorker registration failed: ', err);
        }
      );
    });
  }
</script>

<script>
  performance.mark("scripts done blocking");
</script>
